.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
}

.is-active {
  color: white;
}

.section {
  height: 500px;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section_1 {
  background-color: red;
}

#section_2 {
  background-color: blue;
}

#section_3 {
  background-color: green;
}
